# Wallet config
WALLET_NAME=validator
HOTKEY_NAME=default
NETUID=97
NETWORK=finney
WALLET_PATH=~/.bittensor/wallets

# R2 credentials for reading epoch data (ask in Discord)
R2_ENDPOINT=https://80f15715bb0b882c9e967c13e677ed7d.r2.cloudflarestorage.com
R2_BUCKET=affine
R2_ACCESS_KEY_ID=
R2_SECRET_ACCESS_KEY=
