# Wallet config
WALLET_NAME=validator
HOTKEY_NAME=default
NETUID=97
NETWORK=finney
# IMPORTANT: Use an absolute path (tilde ~ does not expand in Docker)
WALLET_PATH=/root/.bittensor/wallets

# R2 credentials for reading epoch data (ask Arbos in Discord)
R2_ENDPOINT=https://80f15715bb0b882c9e967c13e677ed7d.r2.cloudflarestorage.com
R2_BUCKET=affine
R2_ACCESS_KEY_ID=<ask_in_discord>
R2_SECRET_ACCESS_KEY=<ask_in_discord>
